body {
  background-color: darkcyan;
  text-transform: uppercase;
  color: ghostwhite;
  font-family: Helvetica, Tahoma, sans-serif;
}

.garage {
  padding: .5em;
  display: flex;
  justify-content: center;

  .garageContainers {
    display: inline-flex;
    flex-wrap: wrap;
    text-align: center;

    .doorInfo {
      font-size: 1.5em;
    }

    .state {
      p {
        font-size: 1em;
        margin: 0.5em 0;
      }
    }
  
    .garageContainer {
      padding: .5em;
      margin: auto;
      box-shadow: 1px 1px lightseagreen, -1px -1px lightseagreen, 1px -1px lightseagreen, -1px 1px lightseagreen;
      border: 1px solid lightseagreen;
      background-color: rgba(255, 255, 255, .05);
    }
  
    button {
      &:hover, &:active {
        background-color: darksalmon;
      }

      color: ghostwhite;
      background-color: darkslategray;
      padding: .75em;
      display: block;
      font-size: 2em;
      border: 2px solid ghostwhite;
      border-radius: .75em;
      width: 100%;
      font-family: Helvetica;
      margin-top: .5em;
      cursor: pointer;
      outline: none;
    }
  
  }

}
