body {
  background-color: darkslateblue;
  color: white;
  font-family: Helvetica;
}

.garage {
  padding: 1em;

  .state {
    span {
      text-transform: uppercase;
      font-size: 1em;
    }

    p {
      font-size: 1.5em;
      margin: 0.5em 0;
    }
  }

  button {
    color: white;
    background-color: darksalmon;
    padding: 2em;
    display: block;
    font-size: 2em;
    border: 1px solid white;
    border-radius: 2em;
    width: 100%;
    font-family: Helvetica;
    margin-top: 2em;
    cursor: pointer;
  }
}
