<!DOCTYPE html>
<html>
<head>
<title>Garage Pi</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div id="garage" class="garage"></div>

<script src="/dist/web/bundle.js"></script>
</body>
</html>
